<?xml version='1.0' encoding='utf-8'?>
<widget id="com.vodanh.SimpleTalkingNote" version="0.9.0" versionCode="10" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://google.com/ns/1.0">
    <name>simple Note  </name>
    <description>
        Ứng dụng viết ghi chú đơn giản giúp bạn ghi chú mọi thứ ! ứng dụng hoàn toàn miễn phí và không có quảng cáo! Have fun! 
    </description>
    <author email="duongcuong96@gmail.com">
       VodanhX
    </author>
    <icon gap:platform="android" gap:qualifier="mdpi" src="img/icon.png" />
    <icon gap:platform="winphone" src="img/icon.png" />
    <icon gap:platform="winphone" gap:role="background" src="img/icon.png" />
    <engine name="android" spec="~5.1.0" />
</widget>
